anthropic==0.34.1
fastapi==0.112.2
ffmpeg_python==0.2.0
groq==0.9.0
gTTS==2.5.3
manim==0.18.1
numpy==2.1.0
openai==1.42.0
pexpect==4.9.0
pydub==0.25.1
pyht==0.0.28
python-dotenv==1.0.1
Requests==2.32.3
SpeechRecognition==3.10.0
starlette==0.38.2
uvicorn==0.30.6
